<div class="game">

    <div class="box box-title">
        <h2>Blocks</h2>
    </div>

    <div class="box">
        <div class="status-item">
            <span class="box-text">Score: </span>
            <span class="box-numb">{{score}}</span>
        </div>

        <button class="btn-field" (click)="resetGame()">Reset</button>

    </div>

    <div class="blocksField">
        <div class="blocksrow" *ngFor="let block of board[0]; let j = index">
            <div *ngFor="let row of board; let i = index">
                <app-blocks-tile (click)="tryToClearBlock(i,j)" [color]="row[j].color"></app-blocks-tile>
            </div>
        </div>
        <div *ngIf="status === 'lost'" class="overlay lose-screen">YOU lOST</div>
        <div *ngIf="status === 'won'" class="overlay win-screen">YOU WON <p>score:</p>
            <h3>{{score}}</h3>
        </div>
        <div *ngIf="status === 'reset'" class="overlay reset-screen">Resetting</div>
    </div>

</div>