.container {
    margin-top: 100px;
}

.loading-screen {
    text-align: center;
    color: white;
    margin: 120px auto;
}

.loading-icon {
    font-size: 5rem;
    animation: spin 1s infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}