<div class="main-wrapper">

    <nav class="nav-down-nav">
        <div class="carousel-container">
            <div class="carousel-menu" [ngStyle]="{'left.px': leftPosition, 'transition': transition}">
                <div routerLink="/{{item}}" class="carousel-menu-item" *ngFor="let item of menuCurrent; let i = index" [ngClass]="{'carousel-menu-item-main': i === getMiddleIndex()}">
                    <p>{{item}}</p>
                </div>
            </div>

            <div class="carousel-quick">
                <div class="carousel-quick-btn" *ngFor="let item of menuItems; let i = index" (click)="setMenuPosition(i)">

                </div>
            </div>


            <button class="control-btn control-left" (click)="moveRight()" [disabled]="isTransitioning">◄</button>
            <button class="control-btn control-right" (click)="moveLeft()" [disabled]="isTransitioning">►</button>
        </div>
    </nav>
    
</div>