@use 'src/styles/variables' as v;

.main-nav {
  z-index: 1000;
  position: fixed;
  top: 0;
  display: grid;
  width: 100%;
  background-color: rgb(46, 46, 46)
}

.nav-up {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
  padding: 4px 10%;
  color: white;
}

.menu-toggle {
  align-self: flex-end;
  border: none;
  background: none;
  color: white;
  padding: 0;
  font-size: 2rem;
  cursor: pointer;
  
  &:hover {
    color: v.$text-highlight;
    transform: scale(1.1);
  }
}

.title {
  display: grid;
  align-items: center;
  grid-auto-flow: column;
}

.nav-down {
  display: grid;
  align-content: center;
  height: 60px;
  transition: 300ms;
  background-color: rgb(35, 36, 44)
}

.nav-down-nav {
  padding-left: 50px;
  display: grid;
  gap: 20px;
  justify-content: center;
  grid-auto-flow: column;
}

a {
  text-decoration: none;
  color: white;
  border: 1px solid rgb(96, 96, 96);
  padding: 5px 15px;
  border-radius: 4px;
  
  &:hover {
    color: v.$text-highlight;
  }
}

.menu-overlay {
  z-index: 800;
  top: 0;
  position: absolute;
  background-color: rgba(76, 76, 76, 0.524);
  width: 100%;
  height: 100%;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  display: none;
}

@media screen and (max-width: 768px) {
  .main-nav {
    height: auto;
  }

  .nav-down {
    height: auto;
  }

  .nav-down-nav {
    padding: 15px 8px;
    grid-auto-flow: row;
    gap: 6px;
    
    a {
      &:hover {
        border: 1px solid v.$text-highlight;
      }
    }
  }
}
