@use "src/styles/statusbox";

.tetris-container {
  position: relative;
  display: flex;
  flex-direction: column;
  user-select: none;
}

.multiplier {
  z-index: 10;
  position: absolute;
  color: hotpink;
  top: 5px;
  right: 5px;
  display: grid;
  justify-items: center;
  align-content: center;
  width: 80px;
  height: 80px;
  border: 3px solid hotpink;
  border-radius: 6px;
  opacity: 0.5;
}

.rotate-button {
  position: fixed;
  width: 95%;
  height: 140px;
  bottom: 140px;
  display: grid;
  grid-template-columns: 1fr 20% 1fr;
  gap: 20px;
  opacity: 0.2;
  display: none;
}


.control-buttons {
  position: fixed;
  width: 95%;
  height: 90px;
  bottom: 10px;
  display: grid;
  grid-template-columns: 1fr 20% 1fr;
  gap: 20px;
  opacity: 0.2;
  display: none;
}

.control-buttons button , .rotate-button button {
  background: none;
  border: 2px solid gray;
  border-radius: 8px;
}

.control-buttons button i, .rotate-button button i{
  color: white;
  font-size: 4rem;
}

.rotate-button button {
  border-radius: 50%;
  width: 140px;
}

.tetris-row {
  display: flex;
}

.tetris-cell {
  position: relative;
  width: 30px;
  height: 30px;
  border: 1px solid rgb(58, 58, 58);
  border-radius: 4px;
}

.cell-1 {
  background-color: #35a1e5;
}
.cell-2 {
  background-color: #269146;
}
.cell-3 {
  background-color: #ff423e;
}
.cell-4 {
  background-color: #ffc637;
}
.cell-5 {
  background-color: #d42d91;
}
.cell-6 {
  background-color: #c92cfd;
}
.cell-7 {
  background-color: #40c292;
}

.current {
  border: 4px solid white;
}

.placed {
  border: none;
  border-bottom: 3px solid rgba(115, 189, 101, 0.379);
  border-left: 3px solid rgba(199, 129, 129, 0.466);
}

.current::before,
.placed::before {
  content: "";
  display: block;
  width: 50%;
  height: 50%;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.088);
}

.current::after,
.placed::after {
  content: "";
  position: absolute;
  width: 70%;
  height: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  // background-color: rgba(255, 255, 255, 0.174);
  border: 3px solid rgba(250, 250, 250, 0.147);
}

.test-btns button {
  font-size: 2rem;
  font-family: "Courier New", Courier, monospace;
}

.queue-cell {
  width: 15px;
  height: 15px;
  border-radius: 2px;
}

.queue {
  justify-content: center;
  padding: 5px;
  gap: 22px;
  height: 120px;
  min-width: 300px;

  &-row {
    display: flex;
  }

  &-item {
    width: 70px;
    height: 70px;
    justify-content: center;
    align-content: center;
    display: grid;
    // grid-auto-flow: column;
    border: 1px dotted orange;
    transition: 200ms;
    &:first-child {
      border: 3px solid orange;
      transform: scale(1.2);
    }
    &:last-child {
      border: 1px dotted orange;
      transform: scale(0.8);
    }
  }
}

.score {
  justify-content: center;
}
.status-item {
  grid-template-columns: 1fr 130px;
}
.box-numb {
  position: relative;
  h2 {
    position: absolute;
    top: 50%;
    left: 105%;
    transform: translateY(-50%);
    font-size: 2rem;
    font-family: "Courier New", Courier, monospace;
  }
}

@media (max-width: 728px) {
  .queue {
    grid-auto-flow: column;
    gap: 22px;
  }
  .box {
    grid-auto-flow: column;
    scale: 0.8;
  }
  .main-wrapper {
    gap: 0;
  }
  .tetris-container {
    margin-left: 20%;
  }
  .tetris-cell {
    width: 20px;
    height: 20px;
  }
  .control-buttons, .rotate-button {
    display: grid;
  }
}
