<div class="main-wrapper">

    <div *ngif="getDebugMode()" class="box">


        <button (click)="rotate()">rotate</button>

        <!-- <div>
            <button (click)="move('left')">left</button>
            <button (click)="move('down')">down</button>
            <button (click)="move('right')">right</button>
        </div> -->

        <button (click)="lock()">lock</button>
        <button (click)="clear()">clear</button>

        <div class="test-btns">
            <button (click)="replaceCurrentTetromino('I')">I</button>
            <button (click)="replaceCurrentTetromino('J')">J</button>
            <button (click)="replaceCurrentTetromino('L')">L</button>
            <button (click)="replaceCurrentTetromino('O')">O</button>
            <button (click)="replaceCurrentTetromino('S')">S</button>
            <button (click)="replaceCurrentTetromino('Z')">Z</button>
            <button (click)="replaceCurrentTetromino('T')">T</button>
        </div>
    </div>


    <div class="box score">
        <div class="box-row">
            <button class="btn-field" (click)="start()">start</button>
            <button class="btn-field" (click)="pause()" [ngClass]="{'btn-pressed': getPaused()}"><i
                    class="material-icons">{{getPausedText()}}</i></button>
            <button class="btn-field" (click)="reset()">reset</button>
        </div>
        <div class="status-item">
            <span class="box-text">Score</span>
            <span class="box-numb">{{getScore()}}
                <h2 *ngIf="getLastScore() > 0">+{{getLastScore()}}</h2>
            </span>
        </div>
        <div class="box-row">
            <button [ngClass]="{'hidden': isGameStarted()}" class="btn-field" (click)="addSpeed()">+</button>
            <button [ngClass]="{'hidden': isGameStarted()}" class="btn-field" (click)="removeSpeed()">-</button>
            <span class="box-numb">speed: {{speedDisplay}}</span> 
        </div>
    </div>



    <!-- 'I' | 'J' | 'L' | 'O' | 'S' | 'Z' | 'T'; -->


    <div class="box queue">
        <div *ngFor="let tetromino of getQueue()" class="queue-item">
            <div *ngFor="let row of tetromino.shape" class="queue-row">
                <div *ngFor="let cell of row" class="queue-cell " [ngClass]="getQueueCellClass(tetromino.name, cell)">
                </div>
            </div>
        </div>
    </div>


    <div class="tetris-container">
        <div *ngIf="getScoreMultiplier() > 1" class="multiplier">
            <p>COMBO</p>
            <h2>{{getScoreMultiplier()}}X</h2>
        </div>
        <div *ngFor="let row of grid" class="tetris-row">
            <div *ngFor="let cell of row" class="tetris-cell cell-{{cell.value}}"
                [ngClass]="{'current': !cell.placed && cell.value > 0, 'placed': cell.placed}">
            </div>
        </div>
    </div>

    <div class="controls">
        <div class="rotate-button">
            <button (click)="rotate()"><i class="material-icons">rotate_90_degrees_cw</i></button>
        </div>

        <div class="control-buttons">
            <button (click)="move('left')"><i class="material-icons">keyboard_arrow_left</i></button>
            <button (click)="move('down')"><i class="material-icons">keyboard_arrow_down</i></button>
            <button (click)="move('right')"><i class="material-icons">keyboard_arrow_right</i></button>
        </div>
    </div>





</div>